# Application Port
PORT=3001

# Fernet Encryption Keys
# You can define one or more encryption keys using the pattern: <SOMETHING>_ENCRYPTION_KEY
# The client UI will automatically detect these and let you select from them.
# Example:
APP_DEV_ENCRYPTION_KEY=your_fernet_encryption_key_here
AUTH_DEV_ENCRYPTION_KEY=another_fernet_encryption_key_here
