# Dependencies
node_modules/
/client/node_modules/
/server/node_modules/

# Environment Variables
.env
.env.*
!.env.example
!.env.template

# Build / Distribution Output
dist/
/client/dist/
/client/build/
/server/dist/
/server/build/

# Server Build Info
*.tsbuildinfo
tsconfig.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Testing
coverage/
.nyc_output/

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS Data
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Misc
*.pem
